# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

service ril-daemon /vendor/bin/hw/rild
    class main
    user radio
    group radio cache inet misc audio log oem_2901 system drmrpc vpn readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW SYS_ADMIN CHOWN SYS_TIME
    socket sap_uim_socket1 stream 660 bluetooth bluetooth

service ril-daemon1 /vendor/bin/hw/rild -c 2
    class main
    user radio
    group radio cache inet misc audio log oem_2901 system drmrpc vpn readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW SYS_ADMIN CHOWN SYS_TIME

# QMUX must be in multiple groups to support external process connections
service qmuxd /vendor/bin/qmuxd
    class main
    user root
    group radio audio bluetooth gps oem_2901

service irsc_util_oem /vendor/bin/irsc_util "/vendor/etc/sec_config_oem"
    class core
    user root
    oneshot

# Avoid running ril-daemon services on qualcomm model
service vendor.ril-daemon /vendor/bin/hw/rild-dummy
    override

service vendor.ril-daemon2 /vendor/bin/hw/rild-dummy
    override

service vendor.ril-daemon3 /vendor/bin/hw/rild-dummy
    override

# Disable vendor.embmsslServer to fix VTS failure
# as vendor.embmsslServer is not running even though it has interface
service vendor.embmsslServer /vendor/bin/embmsslServer
    override

on property:init.svc.vendor.netmgrd=running && property:ro.vendor.use_data_netmgrd=false
    stop vendor.netmgrd
