
# Copyright (c) 2018-2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on boot
# SSWAP
    write /proc/sys/vm/swappiness 130

on post-fs

# faced
service faced /system/bin/faced
    class late_start
    user system
    group system

on post-fs-data
# setup cgroup freezer for freecess
    mkdir /dev/freezer
    mount cgroup none /dev/freezer freezer
    mkdir /dev/freezer/frozen
    mkdir /dev/freezer/thaw
    write /dev/freezer/frozen/freezer.state FROZEN
    write /dev/freezer/thaw/freezer.state THAWED

# MARs for freecess
    chown system system /dev/freezer
    chown system system /dev/freezer/frozen
    chown system system /dev/freezer/frozen/tasks
    chown system system /dev/freezer/frozen/cgroup.procs
    chown system system /dev/freezer/frozen/freezer.state
    chown system system /dev/freezer/thaw
    chown system system /dev/freezer/thaw/tasks
    chown system system /dev/freezer/thaw/cgroup.procs

# MARs for freecess
    chmod 0644 /dev/freezer/frozen/tasks
    chmod 0644 /dev/freezer/frozen/cgroup.procs
    chmod 0644 /dev/freezer/frozen/freezer.state
    chmod 0644 /dev/freezer/thaw/tasks
    chmod 0644 /dev/freezer/thaw/cgroup.procs

#olaf dex2oat freezer
    mkdir /dev/freezer/olaf
    write /dev/freezer/olaf/freezer.state THAWED
    chown system system /dev/freezer/olaf
    chown system system /dev/freezer/olaf/tasks
    chown system system /dev/freezer/olaf/cgroup.procs
    chown system system /dev/freezer/olaf/freezer.state
    chmod 0644 /dev/freezer/olaf/tasks
    chmod 0644 /dev/freezer/olaf/cgroup.procs
    chmod 0644 /dev/freezer/olaf/freezer.state

# Slowdown freezer
    mkdir /dev/freezer/abnormal
    write /dev/freezer/abnormal/freezer.state THAWED
    chown system system /dev/freezer/abnormal
    chown system system /dev/freezer/abnormal/tasks
    chown system system /dev/freezer/abnormal/cgroup.procs
    chown system system /dev/freezer/abnormal/freezer.state
    chmod 0644 /dev/freezer/abnormal/tasks
    chmod 0644 /dev/freezer/abnormal/cgroup.procs
    chmod 0644 /dev/freezer/abnormal/freezer.state

# Qualcomm Amp Calibration
    chown system audio /sys/class/spk_params/cal_data/initial_cal
    chown system audio /sys/class/spk_params/cal_data/v_vali_flag
    chown system audio /sys/class/spk_params/cal_data/spk_r0
    chown system audio /sys/class/spk_params/cal_data/spk_t0
    chown system audio /sys/class/spk_params/cal_data/spk_v_vali_status
    chown system audio /sys/class/spk_params/cal_data/max_excursion
    chown system audio /sys/class/spk_params/cal_data/max_temperature
    chown system audio /sys/class/spk_params/cal_data/count_exceeded_excursion
    chown system audio /sys/class/spk_params/cal_data/count_exceeded_temperature
    chown system audio /sys/class/spk_params/cal_data/max_temperature_rd
    mkdir /efs/qualcomm 0770 audioserver audio
    chown audioserver audio /efs/qualcomm/audio.cal
    chmod 0660 /efs/qualcomm/audio.cal

# Create carrier folder for HiddenMenu
on post-fs
     mkdir /efs/carrier 0755 radio system
     chown radio system /efs/carrier
     chown radio system /efs/carrier/HiddenMenu

# Samsung Pay
    mkdir /efs/pfw_data 0760 system system

# MST/NFC Switch
    chown system system /dev/mst_ctrl
    chmod 0660 /dev/mst_ctrl    

# Fingerprint sensor
    chmod 0660 /dev/esfp0
    chown system system /dev/esfp0

    chown system radio /sys/class/fingerprint/fingerprint/type_check
    chown system radio /sys/class/fingerprint/fingerprint/name
    chown system radio /sys/class/fingerprint/fingerprint/vendor
    chown system radio /sys/class/fingerprint/fingerprint/adm
    chown system radio /sys/class/fingerprint/fingerprint/bfs_values
    chown system radio /sys/class/fingerprint/fingerprint/hbm
    chown system radio /sys/class/fingerprint/fingerprint/position
    chown system radio /sys/class/fingerprint/fingerprint/intcnt
    chown system radio /sys/class/fingerprint/fingerprint/resetcnt
    chown system radio /sys/class/fingerprint/fingerprint/rb

    mkdir /data/vendor/biometrics 0770 system system
    mkdir /data/vendor/fpSnrTest 0770 system system
    mkdir /efs/biometrics 0770 system system
    mkdir /efs/biometrics/meta 0770 system system

# SSWAP
service swapon /system/bin/sswap -s -z -f 2048
    class core
    user system
    group system
    capabilities SYS_ADMIN
    seclabel u:r:sswap:s0
    oneshot

# tracking activation VNG
#on property:ro.csc.sales_code=XXV
#   tracking_activation_VNG

# HVDCP
service vendor.hvdcp_opti /vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock

on charger
    start vendor.hvdcp_opti
